@font-face{
    font-family: ph2;
    src: url(Roboto-Regular.ttf);
}
@font-face {
  font-family: h1;
  src:url(cairo_regular.ttf);
}
body{
    background-color:#17181b;
    color:white;
    font-family:h1;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
}
p{
  font-family:ph2;
}
h1{
  display: inline-block;
}
br{
  user-select:none;
}
#logo{
    width:100px;
    
}
.btn911{
    position: absolute;
    bottom:0px;
    left: 0px;
    color:white;
    
}
#btn911{
    color:white;
    background-color:#0160c9;
    border:solid 0px;
    max-width:150px;
    width:100%;
    height:40px;
    font-family: ph2;
    border-radius:10px;
    cursor: pointer;
    font-family:ph2;
}
#btn911:hover{
    background-color:#1CA3DE;
    transition:0.7s;
}
#btn911:focus{
    background-color:#0041c7;
    transition:0.7s;
}
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 5000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    position: absolute;
    bottom: 20px;
    left: 30px;
    color:white;
}
@media only screen and (max-device-width: 480px) {
  .text{
    font-size: xx-small;
    bottom: 10px;
    left: 10px;
  }
}
@media only screen and (min-device-width: 481px) {
  .text{
    font-size: small;
  }
}
@media only screen and (max-device-width: 480px) {
  p{
    font-size: small;
  }
}
@media only screen and (min-device-width: 481px) {
  p{
    font-size: medium;
  }
}
@media only screen and (max-device-width: 480px) {
  h1{
      font-size: large;
    }
  }
@media only screen and (min-device-width: 481px) {
  h1{
      font-size: xx-large;
  }
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.card1{
    background-color:black;
    border:solid 0 0 black;
    border-radius: 10px;
    max-width:2000px;
    width:100%;
}
.text7{
    margin-left:20px;
}
#win7{
    float:right;
    width:200px;
    border-radius:10px;
    margin-right:20px;
}
.card2{
    background-color:#0160c9;
    border:solid 0 0 black;
    border-radius: 10px;
    max-width:600px;
    width:90%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card {
  /* Add shadows to create the "card" effect */
  transition: 0.3s;
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
  width:40%;
  border-radius:10px;
  
}

/* On mouse-over, add a deeper shadow */
#card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  opacity: 0.6;
  transition: 0.7s;
}
#card{
  max-width:550px;
  cursor: pointer;
  width:20%;
  border-radius:10px;
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #141414;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius:20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.textlist{
  position: absolute;
  bottom: 10px;
  left: 16px;
  color:white;
}
@media only screen and (max-device-width: 480px) {
  .textlist{
    font-size: x-small;
  }
}
@media only screen and (min-device-width: 481px) {
  .textlist{
    font-size: small;
  }
}
#btn911:hover {
  transition: 0.7s;
  cursor: pointer;
}
#lemanp{
  max-width:800px;
  float:left;
  margin: 10px;
  width:90%
}
#shop{
  max-width:500px;
  width:90%;
  cursor: pointer;
  
}
#shop1{
  max-width:500px;
  width:70%;
  height:313px;
  cursor: pointer;
}
#shop:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  opacity: 0.6;
  transition: 0.7s;
}
#shop1:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  opacity: 0.6;
  transition: 0.7s;
}
.textlist1{
  position: absolute;
  bottom: 10px;
  left: 16px;
  color:white;
}
/* Slideshow container */
.slideshow-container1 {
  max-width: 5000px;
  width:100%;
  position: relative;
  margin:auto;
  border-radius:10px;
}

/* Hide the images by default */
.text1 {
  position: absolute;
  top:100px;
  left:80px;
  color:white;
}
.text2 {
  position: absolute;
  top:200px;
  left: 80px;
  color:white;
}
.text3 {
  position: absolute;
  top:300px;
  left: 80px;
  color:white;
}
.text4 {
  position: absolute;
  top:400px;
  left: 80px;
  color:white;
}
#img11{
  opacity: 0.6;
  border-radius:10px;
}
#kk{
  max-width: 20000px;
}
.card22 {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin:40px;
  background-color:#0160c9;
  width:100%;
  max-width:250px;
  border-radius:10px;
  overflow: hidden; /* add this to contain floated children */
  display: inline-block;
  opacity:1;
  cursor: pointer;
  
}

/* On mouse-over, add a deeper shadow */
.card22:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition:0.7s;
  opacity:0.8;
}

/* Add some padding inside the card container */
.container22 {
  padding: 2px 16px;
  margin:20px;
  overflow: hidden; /* add this to contain floated children */
  opacity:1;
  
}
#ahmed{
  max-width:200px;
  margin:20px;
  border-radius:10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  opacity:1;
}
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container5 {
  position: relative;
}

/* Hide the images by default */
.mySlides5 {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev5,
.next5 {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next5 {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev5:hover,
.next5:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext5 {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption5-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row5:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column5 {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo5 {
  opacity: 0.6;
}

.active,
.demo5:hover {
  opacity: 1;
}
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
  background-color: #141414;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* Page content */
.main {
margin-left: 200px; /* Same as the width of the sidenav */
}
#menu2{
 float: right;
 margin-right: 50px;
 margin-top: 30px;;
 margin-left:-50px;
 margin-bottom:-30px;
 width:0px;
 height:0px;
 color:white;
 border:solid #141414;
 background-color: #141414;
}
.reveal{
position: relative;
transform: translateY(150px);
opacity: 0;
transition: 1s all ease;
}

.reveal.active{
transform: translateY(0);
opacity: 1;
}
.endpage{
border:solid black;
width: 100%;
z-index: 0;
max-width: 90000000px;
}
#endpic{
width:400px;
float:left;
margin:50px;
margin-top:70px;
}
.btn9112{
position: absolute;
bottom: 30px;
left: 430px;
color:white;
}
#ahmed{
width: 190px;
border-radius:10px;
}
#follow{
margin:40px;
}
/* Style the tab */
.tab {
overflow: hidden;
border: 3px solid Black;
background-color: black;
color:white;
font-family: myFirstFont;
}

/* Style the buttons that are used to open the tab content */
.tab button {
background-color: inherit;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
transition: 0.3s;
font-family: myFirstFont;
color:white;
height:70px;
font-size: x-large;
}

/* Change background color of buttons on hover */
.tab button:hover {
background-color: white;
color:black;
}

/* Create an active/current tablink class */
.tab button.active {
background-color: white;
color:black;
}

/* Style the tab content */
.tabcontent {
display: none;
padding: 6px 12px;
border: 1px solid black;
border-top: none;
}
h3{
color:white;
font-family: MyFirstFont;
font-size: xx-large;
}
#tt{
color:white;
font-size: xx-large;
font-family: MyFirstFont;
}
#blu{
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.lesh{
  margin:20px;
  margin-left:60px;
}
.priterm{
  background-color: #141414;
  border-radius: 10px;
  border:10px 10px #141414;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #141414;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #141414;
  width: 80%; /* Could be more or less, depending on screen size */
}
.modal1-content {
  background-color: #141414;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #141414;
  width: 80%; /* Could be more or less, depending on screen size */
}
.modal2-content {
  background-color: #141414;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #141414;
  width: 80%; /* Could be more or less, depending on screen size */
}
.modal3-content {
  background-color: #141414;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #141414;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.modal1 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal3 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.close1 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.close3 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close3:hover,
.close3:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
#downlaod1{
  background-color: #1CA3DE;
  color:white;
  border-radius:4px;
  border:none;
  cursor: pointer;
  height:50px;
  width: 90px;
  font-family:ph2;
}

